.nav{
    // border: 2px solid blue;
    display: flex;
    justify-content: flex-end;
}

.option{
    color: black;
    text-decoration: none;
    padding: 20px;
    &:hover{
        background-color: #093C9E;
    }
}